body{

    background: rgb(65, 10, 153);
    font: normal 15pt Arial;
}

header{

color: aliceblue;
text-align: center;
}

section{
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);

}

div{
   
   padding: 8px;
}

footer{
color: aliceblue;
text-align: center;
font-style: italic;
padding: 20px;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
